<div id="sidebar">
	<div class="inner">
		<!-- Menu -->
		<nav id="menu">
			<header class="major">
				<h2>Menu</h2>
			</header>
			<ul>
				<li><a href="../index.html">Homepage</a></li>
				<li><a href="../images/Broderick_Resume.pdf">Resume</a></li>
			</ul>
		</nav>

		<!-- Section -->
		<section>
			<header class="major">
				<h2>Get in touch</h2>
			</header>
			<p>Site under development. If you have any questions feel free to reach out to my email below.</p>
			<ul class="contact">
				<li class="icon solid fa-envelope"><a href="#">alexjbroderick@gmail.com</a></li>
				<li class="icon solid fa-home">Richmond, Virginia</li>
			</ul>
		</section>
	</div>
</div>
